* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scrollbar-color: #e5ff00 #000000; /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width:  thin   /* толщина */

}

 