.ExerciseCard {
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Чтобы содержимое карточки не выходило за пределы */
  }
  
  .button-container {
    display: flex;
    justify-content: space-between; /* Равномерно распределяем пространство между кнопками */
    position: absolute;
    bottom: 10px; /* Располагаем кнопки внизу карточки */
    left: 10px; /* Отступы с обеих сторон */
    right: 10px; /* Отступы с обеих сторон */
  }
  
  .Cardnametext {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Защитный текст для лучшей читабельности */
  }
  
  /* Адаптивные стили */
  @media (max-width: 1440px) {
    .Cardnametext {
      font-size: 1.2rem;
    }
  
    .button-container {
      flex-direction: column; /* Кнопки располагаем вертикально на мобильных */
    }
  }