.statistic {
  color: white;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.progressbar {
  max-width: 1280px;
  margin-top: 5px;
  margin-bottom: 50px;
}

.form {
  color: white;
}

.inputText {
  width: 90px;
}
